name: Build and Deploy .NET API to IIS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    env:
      PUBLISH_DIR: C:\publish
      BUILD_DIR: C:\actions_build

    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    # âŒ setup-dotnet removed

    - name: Check dotnet version
      run: dotnet --version

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Publish API
      run: |
        dotnet publish src/AssetTracking.Rfid.Api/AssetTracking.Rfid.Api.csproj `
          -c Release `
          -o $env:BUILD_DIR `
          --no-build

    - name: Put app offline
      run: echo offline > $env:PUBLISH_DIR\app_offline.htm

    - name: Wait for IIS to release files
      run: Start-Sleep -Seconds 5

    - name: Deploy files
      run: robocopy $env:BUILD_DIR $env:PUBLISH_DIR /MIR /R:2 /W:2

    - name: Remove offline file
      run: del $env:PUBLISH_DIR\app_offline.htm

    - name: Done
      run: echo "Deploy complete"
