name: Deploy Backend to IIS

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release

    - name: Stop IIS
      run: iisreset /stop

    - name: Clean publish folder
      run: |
        if (Test-Path C:\publish) { Remove-Item C:\publish\* -Recurse -Force }

    - name: Publish
      run: dotnet publish src/AssetTracking.Rfid.Api/AssetTracking.Rfid.Api.csproj -c Release -o C:\publish

    - name: Start IIS
      run: iisreset /start

