name: Build and Deploy API to IIS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    env:
      BUILD_DIR: C:\actions_build
      PUBLISH_DIR: C:\publish

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Check dotnet
      run: dotnet --version

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Publish
      run: |
        dotnet publish src/AssetTracking.Rfid.Api/AssetTracking.Rfid.Api.csproj `
          -c Release `
          -o $env:BUILD_DIR `
          --no-build

    # â­ THIS IS THE KEY STEP
    - name: Put IIS app offline
      run: echo offline > $env:PUBLISH_DIR\app_offline.htm

    - name: Wait for IIS to release dlls
      run: Start-Sleep -Seconds 8

    - name: Copy files safely
      run: robocopy $env:BUILD_DIR $env:PUBLISH_DIR /MIR /R:3 /W:5

    - name: Remove offline file
      run: del $env:PUBLISH_DIR\app_offline.htm

    - name: Done
      run: echo "Deploy Success"
