name: Deploy Backend to IIS

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      
      - name: Publish API
        run: dotnet publish src/AssetTracking.Rfid.Api/AssetTracking.Rfid.Api.csproj -c Release -o C:\temp_publish

 
      - name: Copy files to IIS folder
        run: |
          xcopy C:\temp_publish\* C:\publish\ /E /Y /I

      - name: Recycle App Pool
        run: |
          %windir%\system32\inetsrv\appcmd recycle apppool /apppool.name:"AssetRfidApi"
